@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.container {
  padding-top: 12rem;
}
.login {
  width: 455px;
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 1.2rem;
  font-family: 'Roboto';
}
.input_login , .input_password{
  border-radius: 100px;
}
h1 {
  font-size: 24px;
}
p {
  font-size: 16px;
}
form{
  text-align: start;
}
.button {
  background-color: #027373;
  border: none;
  border-radius: 100px;
  color: white;
  width: 367px !important;
  height: 44px !important;
}

