.user_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.user_modal_place {
    width: 60%;
    height: 600px;
    border-radius: 20px;
    z-index: 999;
    overflow: hidden;

    justify-content: center;

    background: #fff;
}

.header_modal {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    padding: 0px 30px;

}

.header_modal h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    /* padding: 0px 32px 0px 26px; */
    color: #121212;
}

.exit_user_icnon {
    width: 16px;
    height: 16px;

    cursor: pointer;
}

/* User form */
.form_user_modal {
    padding: 40px;
}

.form_user_modal form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.label_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #121212;
}

.user_input_field {
    border-radius: 100px;
    height: 40px;
    width: 90%;
    margin-bottom: 30px;
}

.avatar_place {
    /* margin: 0 auto; */
    padding: 10px;
    width: 40%;
    text-align: left;
    border-radius: 12px;
    min-height: 141.6px;
    border: 1px solid #D9D9D9;
}

.avatar_picture {
    height: 120px;
    width: 120px;
}

.user_input_field_file {
    /* background: pink; */
    border: 1px solid #808080;
    width: 190px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-top: 10px;
}

.upload_image_place {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 20px;
    width: 400px;
}

.user_control_btn {
    text-align: right;
    display: flex;
    justify-content: space-between;
}

.user_control_btn>div {
    text-align: right;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px;
    width: 200px;
}

.user_ctr_1 {
    background: #C00303;
    color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 100px;
    width: 200px;
    height: 40px;

}

.user_ctr_2 {
    background: #027373;
    color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 100px;
    width: 200px;
    height: 40px;
}

.img_field {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.user_input_field_avatar {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: 1px solid #D9D9D9;
}

/* btns */
.user_post_btns_group {
    display: flex;
    justify-content: right;
    width: 100%;
    padding: 15px 10px;
}

.cancel_btn {
    background: #C00303;
    border: 1px solid #D9D9D9;
    border-radius: 100px;
    color: #fff;
    width: 200px;
    height: 40px;
    font-size: 23px;
}

.confirm_btn {

    background: #027373;
    border: 1px solid #D9D9D9;
    border-radius: 100px;
    color: #fff;
    width: 200px;
    height: 40px;
    font-size: 23px;
}